:root {
    --main-bg-color-1: #453C67;
    --main-bg-color-2: #6D67E4;
    --main-bg-color-3: #46C2CB;
    --main-bg-color-4: #F2F7A1;
}

body {
    background-color: var(--main-bg-color-1);
    font-family: 'Ubuntu', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.img-logo {
    grid-area: 1 / 1 / 2 / 2;
}

.logo {
    width: 80px;
    margin: 20px;
}

/*CSS Formulario*/

.text-form {
    grid-area: 2 / 2 / 4 / 3;
    padding: 30px 30px 0 30px;
}

.form textarea {
    width: 98%;
    border: none;
    resize: none;
    outline: none;
}

.text-result {
    background-color: var(--main-bg-color-1);
    grid-area: 1 / 3 / 4 / 4;
}

.area-result {
    background-color: var(--main-bg-color-3);
}

#box {
    background-color: var(--main-bg-color-1);
    font-size: 18pt;
    color: var(--main-bg-color-4);
    border: none;
    resize: none;
    outline: none;
}

#box::placeholder {
    color: var(--main-bg-color-4);
    font-family: 'Ubuntu', sans-serif;
}

.not-form-text {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px 5px;
}

.img-form-text {
    margin: 0 8px;
}

.nota {
    color: var(--main-bg-color-4);
    display: inline-block;
}

.bot-form-text {
    text-align: center;
}

.bot-form-text input {
    border: none;
    border-radius: 20px;
    width: 45%;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
} 

.encriptar {
    background-color: var(--main-bg-color-2);
    color: var(--main-bg-color-4);
}

.desencriptar {
    background-color: var(--main-bg-color-4);
    color: var(--main-bg-color-1);
}